
@model List<Catagory>
@{
    int Count = 0;
}
<div class="container">
    <h3>Catagory</h3>
    <a class="btn btn-secondary" asp-action="create">Create</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Product Count</th>
            </tr>   
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                Count++;
                <tr>
                    <th scope="row">1</th>
                    <td>@item.@item.Id</td>
                    <td>@item.@item.Name</td>
                    <td>@item.@item.Products.Count</td>
                    <td>
                        <a class="btn btn-primary" asp-action="update" asp-route-id="@item.Id">Update</a>
                        <a class="btn btn-danger" asp-action="delete" asp-route-id="@item.Id">Delete</a>
                    </td> 
                </tr>
            }

        </tbody>
    </table>
</div>